<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MA</servlet-name>
        <servlet-class>com.techmoengineers.MA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MA_Create</servlet-name>
        <servlet-class>com.techmoengineers.MA_Create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLogin</servlet-name>
        <servlet-class>com.techmoengineers.ValidateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAcreateSa_data</servlet-name>
        <servlet-class>com.techmoengineers.MAcreateSa_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MA_Edit</servlet-name>
        <servlet-class>com.techmoengineers.MA_Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAcreateCL_data</servlet-name>
        <servlet-class>com.techmoengineers.MAcreateCL_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAcreateSITE_data</servlet-name>
        <servlet-class>com.techmoengineers.MAcreateSITE_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MA_Delete</servlet-name>
        <servlet-class>com.techmoengineers.MA_Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MAdelete_data</servlet-name>
        <servlet-class>com.techmoengineers.MAdelete_data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MasterAdmin</servlet-name>
        <servlet-class>com.techmoengineers.MasterAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceDetail</servlet-name>
        <servlet-class>com.techmoengineers.DeviceDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InverterDetail</servlet-name>
        <servlet-class>com.techmoengineers.InverterDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MA</servlet-name>
        <url-pattern>/MasterAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MA_Create</servlet-name>
        <url-pattern>/MA_Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLogin</servlet-name>
        <url-pattern>/ValidateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAcreateSa_data</servlet-name>
        <url-pattern>/MAcreateSa_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MA_Edit</servlet-name>
        <url-pattern>/MA_Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAcreateCL_data</servlet-name>
        <url-pattern>/MAcreateCL_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAcreateSITE_data</servlet-name>
        <url-pattern>/MAcreateSITE_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MA_Delete</servlet-name>
        <url-pattern>/MA_Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MAdelete_data</servlet-name>
        <url-pattern>/MAdelete_data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MasterAdmin</servlet-name>
        <url-pattern>/MasterAdminS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceDetail</servlet-name>
        <url-pattern>/DeviceDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InverterDetail</servlet-name>
        <url-pattern>/InverterDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
